<html>
<head>
<title>Cars</title>
<link href="./css/style.css" rel="stylesheet" type="text/css" />
</head>

<body>
  <header>
    <h1>Wheelies</h1>
    <p>Finding you the right ride</p>
    <nav>
      [ <a href="/"> Home</a> |
      <a href="cars"> Cars</a> |
      <a href="drivers"> Drivers</a> |
      <a href="syndicates"> Syndicates</a> | 
      <a href="syndicateshaslocations"> Syndicates-Locations</a> |
      <a href="drivershaslocations"> Drivers-Locations</a> |
      <a href="locations"> Locations</a> |
      <a href="jobs"> Jobs</a> ]
    </nav>
  </header>
  <main>
    <h3>Here you can track:</h3>
    <p>Syndicates</p>
    <p>Drivers</p>
    <p>Cars</p>
    <p>Locations</p>
    <p>Jobs</p>
  </main>
  <footer>2022 Devon Miller &amp; Ian McMillan</footer>
</body>